<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/index1.js}" charset="utf-8"></script>
    <link rel="stylesheet" th:href="@{css/index1.css}" type="text/css"/>
    <title>Title</title>
</head>
<body>
    <div>
        <h3>
            Всемирная библиотека
        </h3>
    </div>
    <div>
        <h3>
            <p id="vmaintext" class="mainText" readonly="readonly"> Добро пожаловать во всемирную библиотеку</p>
        </h3>
    </div>
    <div>
        <button>
            <a href="#" id="reg">Регистрация</a>
        </button>
        <button>
            <a href="#" id="login">Войти в профиль</a>
        </button>

    </div>
    <div id="modal_form_reg" style="display: none; top: 45%; opacity: 0;">
        <span id="modal_close_reg">X</span>
        <form id="loginform" method="post" th:action="@{/profile}">
            <h3>Регистрация</h3>
            <p>Ваш логин<br>
                <input id="vlogin_reg" type="text" name="your-login" value="" size="35">
            </p>
            <p>Ваш пароль<br>
                <input id="vpassword_reg" type="text" name="your-password" value="" size="35">
            </p>
            <p>Повторите пароль<br>
                <input id="vpasswordRepeat_reg" type="text" name="your-password-repeat" value="" size="35">
            </p>
            <p style="text-align: center; padding-bottom: 10px;">
                <button type="submit" value="Отправить" id="submitbtn_reg" onclick="regFunction()">Отправить</button>
                <br>
            </p>
            <p style="display: none" id="vinvalidpass_reg" >
                Некорректные данные
            </p>
        </form>
    </div>
    <div id="overlay_reg" style="display: none;"></div>


    <div id="modal_form_login" style="display: none; top: 45%; opacity: 0;">
        <span id="modal_close_login">X</span>
        <form id="regform" method="post" th:action="@{/profile}">
        <h3>Войти в профиль</h3>
        <p>Ваш логин<br>
            <input id="vlogin_login" type="text" name="your-login" value="" size="35">
        </p>
        <p>Ваш пароль<br>
            <input id="vpassword_login" type="text" name="your-password" value="" size="35">
        </p>
        <p style="text-align: center; padding-bottom: 10px;">
            <button type="submit" value="Отправить" id="submitbtn" onclick="login()">Отправить</button>
            <br>
        </p>
        <p style="display: none" id="vinvalidpass_login" >
            Некорректные данные
        </p>
        </form>
    </div>
    <div id="overlay_login" style="display: none;"></div>

</body>
</html>




